[project]
	description = First page for start the GitHub project.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Howard-2
[access "refs/for/refs/*"]
	read = group user/Howard-2
	push = group user/Howard-2
	label-Code-Review = -2..+2 group user/Howard-2
	label-Verified = -1..+1 group user/Howard-2
	rebase = group user/Howard-2
	removeReviewer = group user/Howard-2
	submit = group user/Howard-2
[access "refs/heads/*"]
	read = group user/Howard-2
	create = group user/Howard-2
	push = +force group user/Howard-2
	pushMerge = group user/Howard-2
[access "refs/tags/*"]
	push = group user/Howard-2
	push = +force group user/Howard-2
